*{
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.status {
  flex: 1;
}
.board-3x3 {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 1rem;
  border: 1px solid black;
  border-collapse: collapse;
}
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  height: 5rem;
  width: 5rem;
  font-size: 5rem;
  font-weight: bold;
  color: black;
  padding-bottom: 0.5rem;
  margin: 0;
}